<script>
  function submitForm() {
      if ($("#feedUrl").val().length === 0) {
          $("#feedUrlError").html("You must provide a feed URL!");
      } else {
          document.forms['add'].submit();
      }
  }
</script>
<section class="mainSection">
  <h1 class="pageTitle">Add Feed to Queue</h1>
  <p>This page adds a feed to query to the queue, for example, "http://feeds.feedburner.com/codingqa"</p>
  <form id="add" action="/AddFeedToQueue" method="post">
      <fieldset>
          <legend>Add</legend>
          <ol>
              <li>
                  <label for="feedUrl">RSS Feed URL</label>
                  <input type="text" id="feedUrl" name="feedUrl" />
                  <span id="feedUrlError" class="error"></span>
              </li>
          </ol>
          <input type="button" class="submit" value="Add" title="Add" onclick="javascript:submitForm()" />
      </fieldset>
  </form>
</section>