<section class="mainSection">
  <h1 class="pageTitle">Items in Queue</h1>
  <% if (serverItems && serverItems[0] && serverItems[0].messagetext) { %>
    <ol>
      <% var i = 0; %>
      <% while (serverItems[i]) { %>
        <li class="queueItem">
          <%= serverItems[i].messagetext %>
        </li>
        <% i++; %>
      <% } %>
    </ol>
  <% } else if (serverItems && serverItems.messagetext) { %>
    <ol>
      <li class="queueItem">
        <%= serverItems.messagetext %>
      </li>
    </ol>    
  <% } else { %>
    Nothing to see here. <a href="./AddFeedToQueue">Click to add a feed to the queue<a/>.
  <% } %>
</section>