<script>
  function deleteEntry(Name) {
   $("#DeleteConfirmationDialog" + Name).dialog(
    {
      resizable: false, height: 250, width: 300, modal: true,
      buttons: {
           'OK': function() {
            document.forms['deleteEntryForm'+Name].submit();
          },
          'Cancel': function() {
            $(this).dialog("close");
          }
        }
    }
   );
  }
</script>
<section class="mainSection">
  <h1 class="pageTitle">Entries</h1>
  <% if (tableEntries.length > 0) { %>
    <ul>
      <% for (var i = 0; i < tableEntries.length; i++) { %>
        <% var Name = tableEntries[i].Name; %>
          <li class="tableItem">
              <%= Name %>
              <a class="deleteEntry" href="javascript:deleteEntry('<%= Name %>')"></a>
              <a class="updateEntry" href="./UpdateEntry/<%= Name %>"/></a>
              <form id="deleteEntryForm<%= Name %>" action="/DeleteEntry/<%= Name %>" method="post">
              </form>
              <div id="DeleteConfirmationDialog<%= Name %>" class="jquery-dialog" title="Delete Entry">
                  <span class="ui-icon ui-icon-alert ui-icon-float"></span>
                  <p>Are you sure you want to delete <%= Name %>?</p>
              </div>
          </li>
      <% } %>
    </ul>
  <% } else { %>
      Nothing to see here. <a href="./AddFeedToQueue">Click to add a feed to the queue<a/>.
  <% } %>
</section>