﻿/*#region -----------------------------Main Layout*/
html {
    height: 100%;
    min-height: 700px;
}

a {
    outline: none;
}

li {
    margin: 5px 0 5px;
}

body {
    background: #ebf0f2;
    font-family: Actor, sans-serif;
    font-size: 100%;
    color: #434343;
    height: 100%;
    min-height: 900px;
}

.mainWrapper {
    position: relative;
    background-color: rgba(204, 204, 204, 0.75);
    width: 850px;
    margin: 0 auto;
    min-height: 100%;
}

.mainLayout {
    clear: both;
    width: 850px;
    padding-bottom: 25px;
    height: 100%;
}

.mainSection {
    position: relative;
    margin: 50px 0 25px 90px;
}

header, footer {
    font-weight: bold;
    font-size: 0.9em;
    color: #e6e2df;
    background-color: rgba(0, 0, 0, 0.53);
    text-transform: uppercase;
}

.login {
    float: right;
    padding-right: 12px;
}

.loginLink {
    color: #e6e2df;
}

    .loginLink:hover {
        color: #ebf0f2;
    }

.welcomeUser {
    color: #92a5bc;
    font-size: 0.9em;
    margin-right: 12px;
}

.no-rgba header, .no-rgba footer {
    background-color: #666666;
}

header {
    height: 30px;
    padding: 15px 0px 0px 10px;
}

    .mainTitle a {
        color: #CCC;
    }

    .mainTitle a:hover {
        color: #CCC;
    }

footer {
    text-align: center;
    position: absolute;
    padding-top: 6px;
    height: 25px;
    width: 850px;
    bottom: 0;
}

  footer a {
    color: #e6e2df;
  }

  footer a:hover {
    color: #ebf0f2;
  }

.pageTitle {
    font-size: 3em;
    margin-bottom: 20px;
    margin-left: -29px;
}

.pageValidation{
    margin-top: 25px;
    margin-bottom: 10px;
    display: none;
}

.mainMenu {
    position: absolute;
    left: 27%;
    top: 34%;
    list-style: none;
    display: inline;
}

.mainMenu li {
    float: left;
}

.mainMenu li a {
    background-position: center;
    display: block;
    padding: 105px 15px 10px 15px;
    text-align: center;
    color: Black;
    font-size: 1.1em;
    width: 100px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}


/*#endregion*/
/*#region -----------------------------Primary Tags*/
a {
    color: #577fae;
    text-decoration: none;
}

    a:hover {
        color: #92a5bc;
    }

    a#home {
        color: #91a1ab;
    }
/*#endregion*/
/*#region -----------------------------Menu*/
.nav {
    float: left;
    list-style: none;
    margin-left: -10px;
}

    .nav li {
        float: left;
        margin-left: 18px;
        padding: 0;
    }

        .nav li a {
            color: #e6e2df;
        }

            .nav li a:hover {
                color: #ebf0f2;
            }
/*#endregion*/
/*#region -----------------------------Form Layout*/
form {
    margin-top: 20px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    fieldset label {
        display: block;
        font-size: 1.0em;
        font-weight: 600;
    }

    fieldset label.checkbox {
        display: inline;
    }

    fieldset input[type="text"], 
    fieldset input[type="password"],
    fieldset select {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.0em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }

        fieldset input[type="text"]:focus, 
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }

    fieldset input[type="submit"], .submit {
        background-color: #92a5bc;
        border: solid 1px #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin: 10px 0 15px;
    }

    fieldset select {
        
    }
/*#endregion*/
/*#region -----------------------------Validation*/
.message-info {
    border: solid 1px;
    clear: both;
    padding: 20px 20px;
    margin: 20px 0 15px;
    width: 300px;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    clear: both;
    display: block;
    color: #e80c4d;
    font-weight: bold;
    padding: 20px 0 10px 0;
}

    .validation-summary-errors span {
        font-size: 1.0em;
        text-align: left;
    }

    .validation-summary-errors li {
        font-size: 0.9em;
        list-style: disc;
        text-align: left;
        margin: 2px 0 2px;
    }

.message-success {
    color: #0ab317;
    font-size: 1.0em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

.error-label {
    color: #e80c4d;
    font-weight: bold;
} 

.error-label + input[type="text"], 
.error-label + input[type="password"] { 
    border: solid 1px #e80c4d; 
}

.field-validation-error {
    display: inline;
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.0em;
}

.field-validation-valid {
    display: none;
}
/*#endregion*/
/*#region -----------------------------Main Lists*/
.deleteEntry {
    display: block;
    float: right;
    width: 48px;
    height: 48px;
    background: url("/images/delete.png") no-repeat;
}
.updateEntry {
    display: block;
    float: right;
    width: 48px;
    height: 48px;
    background: url("/images/edit.png") no-repeat;
}
.queueItem, .tableItem {
    clear: both;
    width: 650px;
    padding: 15px 0 15px;
}
.noscriptsubmit {
    display: block;
    float: right;
}
.scriptsubmit {
    display: none;
    float: right;
}
/*#endregion*/
/*#region -----------------------------Misc*/
.jquery-dialog {
    display: none;
}

.imageLink {
    border: 0px;
}

.formActions a {
    text-decoration: underline;
    padding: 0 3px 0 3px;
}
/*#endregion*/